<footer>
  <div class="container" data-100-bottom="opacity:0;" data-bottom="opacity:1;">
    <ul class="footer-list">
      <li><a class="nav-btn" href="#about">ABOUT</a></li>
      <li><a class="nav-btn" href="#services">SERVICES</a></li>
      <li><a class="nav-btn" href="#work">WORK</a></li>
    </ul>
  </div>

  <div class="media">
    <ul class="footer-list">
      <li><a class="nav-btn" href="#">INSTAGRAM</a></li>
      <li><a class="nav-btn" href="#">LINKEDIN</a></li>
    </ul>
  </div>
  <div class="end-section">
    <p>© 2022 Portfolio Template.</p>
    <br>
    <a href="https://github.com/BLW96" target="_blank">All Rights Reserved.<b>Code by Waez</b></a>
  </div>
</footer>
