<nav>
  <section class="banner" id="sec">
    <header>
      <a href="/" class="logo"><img src="../img/logo2.png" /></a>
      <ul class="nav-list">
        <li><a class="nav-btn" href="#about">ABOUT</a></li>
        <li><a class="nav-btn" href="#">RESUME</a></li>
        <li><a class="nav-btn" href="#services">SERVICES</a></li>
        <li><a class="nav-btn" href="#work">WORK</a></li>
      </ul>
      <div id="toggle" onclick="toggle()"></div>
      <a class="btn" href="/contact">CONTACT ME</a>
    </header>
  </section>

  <div id="navigation">
    <ul onclick="toggle()">
      <li><a href="#about">About</a></li>
      <li><a href="#services">Services</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="#" target="_blank">resume</a></li>
    </ul>
  </div>
</nav>