<% layout('layouts/boilerplate')%>
  <div class="contact">
    <div class="page-padding">
      <div class="custom-padding-horizontal">
        <div class="container">
          <div class="contentBx">
            <div class="row">
              <div class="bx1">
                <div class="split-line1">LET'S WORK</div>
                <div class="split-line2">TOGETHER</div>
                <h2>
                  DISCUSS YOUR PROJECT AND SEE HOW WE CAN TURN IT INTO AMAZING
                  EXPERIENCE FOR YOUR CUSTOMERS
                </h2>
                <div class="arrow-down"><span>&#129175;</span></div>
              </div>
              <div class="bx2">
                <div class="text">
                  FEEL FREE TO REACH OUT IF YOU WANNA COLLABORATE WITH ME, OR SIMPLY
                  HAVE A CHAT
                </div>
                <h2>
                  DROP <br />
                  ME A LINE
                </h2>
              </div>
            </div>
            <table>
              <tr>
                <td>01</td>
                <td><a href="#">EMAIL</a></td>
                <td>Sibusiso-Ivo</td>
              </tr>
              <tr>
                <td>02</td>
                <td><a href="#" target="_blank">INSTAGRAM</a></td>
                <td>@Sibusiso Ivo</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>