<% layout('layouts/boilerplate')%>
  <!-- Hero Container -->

  <div class="heroContainer">
    <div class="page-padding">
      <div class="custom-padding-horizontal">
        <div class="contentBx">
          <div class="textBx">
            <span>EVERY</span>
            <br />
            <span>MOMENT'S</span>
            <br />
            <span>A FRESH</span>
            <br />
            <span>BEGINNING</span>
          </div>
          <!-- Img BOX -->
          <div class="imgBx">
            <img class="heroImg" src="../img/HeroImg2.png" alt="img" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- dsc -->
  <section class="dsc" id="about">
    <div class="page-padding">
      <div class="custom-padding-horizontal">
        <div class="container">
          <div class="contentBx">
            <h2 class="heading" data-center-center="opacity:1;top:0;" data-0-bottom="opacity:0;top:-100px;">
              WHO IS ME
            </h2>
            <p class="text" data-center-center="opacity:1;" data-0-bottom="opacity:0;">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Error pariatur, laudantium neque rem dolor suscipit at est dignissimos reprehenderit aliquam unde quod natus explicabo hic
              veritatis cum architecto.
            </p>
          </div>
          <a href="#" class="btn">ABOUT ME</a>
        </div>
      </div>
    </div>
  </section>


  <!-- news -->
  <section class="news" id="work">
    <div class="page-padding">
      <div class="custom-padding-horizontal">
        <div class="line" data-center-center="left:0;" data-0-bottom="left:-1000px;">
          <br />
          RECENT
        </div>
        <div class="container">
          <div class="contentBx">
            <div class="text">
              <h2>Lorem, ipsum dolor sit amet adipisicing elit.</h2>
              <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo
                assumenda totam exercitationem porro a corrupti est alias suscipit
                illum. Nihil hic nam autem aliquam reiciendis enim veritatis illum
                harum delectus..
              </p>
              <br />
              <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo
                assumenda totam exercitationem corrupti est alias suscipit illum.
                Nihil hic nam autem aliquam reiciendis enim veritatis illum harum
                delectus. exercitationem porro a corrupti est alias.
              </p>
            </div>
          </div>
          <div class="imgBx">
            <img class="img2" src="../img/HeroImg1.png" alt="img" />
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- services -->
  <section class="services" id="services">
    <div class="page-padding">
      <div class="custom-padding-horizontal">
        <div class="line" data-center-center="left:0;" data-0-bottom="left:-1000px;">
          <br />
          SERVICES
        </div>
        <div class="text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni iure, aliquid qui earum facilis delectus consequuntur saepe eum quasi quo eius provident fugiat.
        </div>

        <div class="serviceContainer">
          <div class="bx-row">
            <div class="activity">
              <div class="relative-block">
                <div class="activity-icon">
                  <img alt="An image" src="../img/imgLogo-3.png" />
                </div>
                <div class="inactive">
                  <div class="title">Marketing</div>
                </div>
                <div class="active">
                  <div class="title">Marketing & Management</div>
                  <div class="sub-title">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni iure, aliquid qui earum facilis delectus consequuntur saepe eum quasi quo eius provident fugiat.
                  </div>
                </div>
              </div>
            </div>
            <div class="activity">
              <div class="relative-block">
                <div class="activity-icon">
                  <img alt="An image" src="../img/icon2.png" alt="ad-operations-process-strategy-activation" />
                </div>
                <div class="inactive">
                  <div class="title">Content Writing</div>
                </div>
                <div class="active">
                  <div class="title">Content Writing</div>
                  <div class="sub-title">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni iure, aliquid qui earum facilis delectus consequuntur saepe eum quasi quo eius tenetur cum.
                  </div>
                </div>
              </div>
            </div>
            <div class="activity">
              <div class="relative-block">
                <div class="activity-icon">
                  <img alt="An image" src="../img/icon3.png" />
                </div>
                <div class="inactive">
                  <div class="title">Media Management</div>
                </div>
                <div class="active">
                  <div class="title">Social Media Management</div>
                  <div class="sub-title">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni iure, aliquid qui earum facilis delectus consequuntur saepe eum quasi quo eius provident fugiat.
                  </div>
                </div>
              </div>
            </div>
            <div class="activity">
              <div class="relative-block">
                <div class="activity-icon">
                  <img alt="An image" src="../img/imgLogo-2.png" alt="ad-operations-process-strategy-activation" />
                </div>
                <div class="inactive">
                  <div class="title">Branding</div>
                </div>
                <div class="active">
                  <div class="title">Branding</div>
                  <div class="sub-title">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni iure, aliquid qui earum facilis delectus consequuntur saepe eum quasi quo eius provident fugiat, tenetur beatae
                    quaerat cum.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!---->
  <section class="footer-page">
    <div class="page-padding">
      <div class="custom-padding-horizontal">
        <div class="line" data-center-center="left:0;" data-0-bottom="left:-1000px;">
          <br />
          CONTACT
        </div>
        <div class="container">
          <div class="contentBx">
            <div class="split-line" data-top="opacity:1;" data-0-bottom="opacity:0;">
              LET&#x27;S START
            </div>
            <div class="split-line" data-center-center="opacity:1;" data-0-bottom="opacity:0;">
              SOMETHING
            </div>
            <div class="split-line" data-center-center="opacity:1;" data-0-bottom="opacity:0;">
              BIG TODAY
            </div>
          </div>
          <div class="bgBx">
            <a href="/contact">CONTACT ME</a>
          </div>
        </div>
      </div>
    </div>
  </section>